<mat-tab-group class="items-list-container _mobile" mat-stretch-tabs>
  <mat-tab label="Todo">
    <ng-container
      *ngTemplateOutlet="todo">
    </ng-container>
  </mat-tab>
  <mat-tab label="All Tasks">
    <ng-container
      *ngTemplateOutlet="all">
    </ng-container>
  </mat-tab>
</mat-tab-group>

<div class="items-list-container _todo">
  <div class="items-list-container_header">Todo</div>
  <ng-container
    *ngTemplateOutlet="todo">
  </ng-container>
</div>
<div class="items-list-container _all">
  <div class="items-list-container_header">All Tasks</div>
  <ng-container
    *ngTemplateOutlet="all">
  </ng-container>
</div>
<ng-template #all>
  <div id="all" class="dragula-container" dragula="MAIN">
    <app-list-item (deleteItem)="removeFromAllList($event)" [model]="list"
                   (moveToTodoList)="moveItemToTodoList($event)"
                   *ngFor="let list of listItems['all']">

    </app-list-item>
  </div>
  <div (click)="addItem()" class="items-list-container_footer-button">
    <mat-icon>add</mat-icon>
  </div>
</ng-template>

<ng-template #todo>
  <div id="todo" class="dragula-container" dragula="MAIN">
    <app-list-item (markAsCompleted)="markItemAsCompleted($event)"
                   (deleteItem)="removeFromTodoList($event)"
                   (saveItem)="saveList()"
                   [model]="list" *ngFor="let list of listItems['todo']">
    </app-list-item>
  </div>
  <div (click)="markAllItemsAsCompleted()" class="items-list-container_footer-button">
    Mark all as completed
  </div>
</ng-template>

