app-items-list {
  touch-action: none;
  top: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  background-color: @base-background-color;

  .items-list-container {
    &._mobile {
      display: none;
    }

    .dragula-container {
      margin: 0 10px;
      padding: 10px;
      width: 100%;
      overflow: auto;
      height: calc(~'100vh - 157px');
    }

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &_footer-button {
      color: white;
      height: 28px;
      line-height: 26px;
      font-size: 17px;
      font-family: 'helvetica-light';
      background: rgba(72, 171, 189, 0.32);
      width: 100%;
      text-align: center;
      transition-property: background-color;
      transition-duration: 100ms;
      margin: auto auto 0 auto;

      &:hover {
        background: rgba(72, 171, 189, 0.48);
      }
    }

    &_header {
      color: #f9f6f6;
      width: 100%;
      padding-top: 10px;
      font-family: 'helvetica-light';
      font-size: 18px;
      text-align: center;
      background: rgba(72, 171, 189, 0.56);
      height: 30px;
    }


    &._all {
      background-color: rgba(118, 193, 186, 0.28)
    }

    &._today {
      background-color: rgba(255, 255, 255, 0.2)
    }
  }
}

mat-tooltip-component{
  display: block;
}

@media (max-width: 767px) {
  mat-tooltip-component{
    display: none;
  }
  app-items-list {
    .mat-tab {
      height: 100vh !important;
    }

    .items-list-container {
      display: none;

      &_add-button {
        position: fixed;
        bottom: 0;
      }

      &._mobile {
        display: block;

        .mat-tab-body-content {
          transform: none;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
      }

    }
  }
}
